numpy
pandas
numpy-financial
matplotlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
requests
neo4j>=5.19.0
redis>=5.0
